body{
    margin: 0;
}

@font-face{
    font-family: 'ForName';
    src: url('./DeLaFuente.ttf')
}

@font-face{
    font-family: 'ForSlug';
    src: url('./Fibon_Sans_Regular.otf')
}


#column-hold{
    display: grid;
    grid-template-columns: 50% 50% 50%;
    transition: 1s cubic-bezier(0, -0.55, 0.265, 1.55);
}

/*  Brief CV  */

#column1{
   height: 100vh;
    
}

#column1-content{
    height: calc(100% - 6vw);
    width: 50vw;
    padding: 3vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#name-slug{

}



#name{  
    animation: 2s ease-in-out animate;
    font-family: 'ForName';
    font-size: 5em;
    height: 100px;
    overflow: hidden;
    transform-origin: left;
    
}

#slug-line{
    width: 450px;
    font-family: 'ForSlug';
    font-size: 2em;
    margin-left: 10px;
    line-height: 40px;
}

#skills-list{
    list-style: none;
    padding-left: 10px;
}

#skills-list li{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 21px;
}

#skills-list li:hover{
    cursor: default;
}

#skills-list li:first-of-type{
    
    text-decoration: underline;
    margin-bottom: 5px;
    font-weight: 400;
}




/* Project Slides */
#column2{
    
}

.project-slide{
    height: 110vh;
}

.project-wrapper{
    height: inherit;
}

#project1{
     
}

#dr-mario-background{
    height: inherit;
    width: 100%;
    background: url(./dr-mario-ss.png) no-repeat;
    background-size: cover;
    background-position-x: center ;
    
}

#project2{
    background: darksalmon
}

#project3{
    background: aquamarine;
}


::-webkit-scrollbar {
    display: none;
  }

@keyframes animate{
    0%{
       width: 78px; 
       overflow-wrap: anywhere;
    }

    1%{
        overflow-wrap: normal;
    }

    100%{
        width: inherit; 
    }
}