body{
    margin: 0;
}

@font-face{
    font-family: 'ForName';
    src: url('./DeLaFuente.ttf')
}

@font-face{
    font-family: 'ForSlug';
    src: url('./Fibon_Sans_Regular.otf')
}


#column-hold{
    display: grid;
    grid-template-columns: 50% 50%;
}

/*  Brief CV  */

#column1{
   height: 100vh;
    
}

#column1-content{
    height: inherit;
    width: 50vw;
    padding: 45px;
    position: fixed;
    display: flex;
    flex-direction: column;
}

#name{
    
    font-family: 'ForName';
    font-size: 5em;
    height: 100px;
}

#slug-line{
    width: 100%;
    font-family: 'ForSlug';
    font-size: 2em;
    margin-left: 10px
}

#skills-list{
    list-style: none;
}

#skills-list li{

}

#skills-list li:first-of-type{
    color: red;
    text-decoration: underline;
    margin-bottom: 5px;
}




/* Project Slides */
#column2{
    
}

.project-slide{
    height: 110vh;
}

.project-wrapper{
    height: inherit;
}

#project1{
     
}

#dr-mario-background{
    height: inherit;
    width: 100%;
    background: url(./dr-mario-ss.png);
    background-position-x: center;
}

#project2{
    background: darksalmon
}

#project3{
    background: aquamarine;
}


::-webkit-scrollbar {
    display: none;
  }

